@inject AuthenticationStateProvider AuthenticationStateProvider

@if(isAuthorized)
{
    <a class="dropdown-item" href="admin/categories">Categories</a>
    <a class="dropdown-item" href="admin/product-types">Product Types</a>
    <a class="dropdown-item" href="admin/products">Products</a>
    <hr />
}